---
component: cta
---

<a href="{{cta-target}}" title="{{cta-content}}"{{#if cta-class}} class="{{cta-class}}"{{/if}} data-css="c-cta">{{#if cta-span}}<span>{{/if}}{{{cta-content}}}{{#if cta-span}}</span>{{/if}}</a>
