---
component: cta
---

<a href="{{ctaTarget}}" title="{{ctaContent}}"{{#if ctaClass}} class="{{ctaClass}}"{{/if}} data-css="c-cta">{{#if ctaSpan}}<span>{{/if}}{{{ctaContent}}}{{#if ctaSpan}}</span>{{/if}}</a>
