/* ===================================================
PROJECT PROGRESS MODULE
=================================================== */

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */

[data-js-module="slider"] {
	clear: both;
	display: block;
	position: relative;

	/*
	Unresolved state
	----------------------- */
	&.is-unresolved {
		.slider__list {
			height: 300px;
			overflow: hidden;
		}

		.slider__item {
			opacity: 0;
		}
	}

	/*
	List
	----------------------- */
	.slider__list-wrapper {
		display: block;
		position: relative;
	}

	.slider__list {
		left: 0;
		position: relative;
		transform: translate3d(0, 0, 0);
		transition: left $transition-duration $transition-ease-method;
	}

	.slider__item {
		@include float;

		position: relative;
		margin: 0 1rem;
		opacity: 0.3;
		transition: opacity $transition-duration $transition-ease-method;
		vertical-align: top;

		&.is-active {
			opacity: 1;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	/*
	Actions
	----------------------- */
	.slider__prev,
	.slider__next {
	}

	.slider__icon {
	}

	/*
	Content
	----------------------- */
	.slider__content {
		display: block;
		position: relative;
	}
}

/* ---------------------------------------------------
Modifiers
--------------------------------------------------- */

.c-slider--default {
	/*
	Local Vars
	----------------------- */
	$color-red-cta: #f061b9;

	/*
	Styles
	----------------------- */
	@extend %float;

	.slider__icon {
		@extend %hidden;
	}

	.slider__prev,
	.slider__next {
		background: none;
		border: none;
		height: 27px;
		position: absolute;
		width: 15px;
		top: 50%;
		margin-top: -13px;
	}

	.slider__prev {
		left: -30px;
		background-color: $color-red-cta;
	}

	.slider__next {
		right: -30px;
		background-color: $color-red-cta;
	}

	.slider__icon {
		&::after {
			@extend %pseudo;

			content: '<';
			display: block;
		}
	}

	.slider__content {
		@extend %float;

		margin-top: 1rem;
		font-size: 1.5rem;
		white-space: normal;
	}

}