---
title: Panels in Assemble
menuLink: Panels
sortOrder: 02
---

{{#extend "tpl-default"}}
	{{#content "body"}}
		{{#panel "p-section"}}
			{{#pContent "content" headline="Simple Section Headline"}}
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at doloribus eaque eum eveniet, incidunt, ipsum libero modi nobis obcaecati odio odit placeat quam qui quia quis recusandae tempora velit?</p>
			{{/pContent}}
		{{/panel}}
	{{/content}}
{{/extend}}
