---
panel: section
---

<section class="section{{#if blocks.content.hash.modifier}}--{{blocks.content.hash.modifier}}{{/if}}{{#is blocks.content.hash.bgColor "grey"}} is-bg-grey{{/is}}{{#isnt blocks.content.hash.isPadding false}} is-container-padding{{/isnt}}" data-css="section">

		{{> mtpl-section__content }}

</section>