{{#if blocks.content.hash.headline}}
	<header class="section__header">
		{{#if blocks.content.hash.headline}}
			<h2 class="section__header-headline{{#if blocks.content.hash.link}} has-link{{/if}}{{#if blocks.content.hash.headline-class}} {{blocks.content.hash.headline-class}}{{/if}}">{{blocks.content.hash.headline}}</h2>
		{{/if}}
		{{#if blocks.content.hash.link}}
			<span class="section__header-link-wrapper">
				<a class="section__header-link" href="#">{{blocks.content.hash.link}}</a>
			</span>
		{{/if}}
	</header>
{{/if}}

<div class="section__content">
	{{#fBlock "content"}}{{/fBlock}}
</div>