/* ===================================================
COMPONENT: TOGGLE
=================================================== */

/* ---------------------------------------------------
Styles for JS
--------------------------------------------------- */

[data-js-module="toggle"] {
	&.is-unresolved {
		position: absolute;
		visibility: hidden;
		overflow: hidden;
	}

	&.is-visible {
	}
}

/* ---------------------------------------------------
Global Styles
--------------------------------------------------- */
[data-css="c-toggle"] {
}

/* ---------------------------------------------------
Context: Default
--------------------------------------------------- */
.c-toggle--default {
}