<div class="b-overlay" data-css="b-overlay" data-js-atom="overlay">
	<div class="overlay__wrapper">
		<button class="overlay__close" data-js-atom="overlay-close"></button>
		<div class="overlay__content">
			<div class="overlay__inner" data-js-atom="overlay-content">

			</div>
		</div>
	</div>
	<div class="overlay__mask" data-js-atom="overlay-mask"></div>
</div>