<div class="wrapper" data-js-module="equal-rows" data-js-options='{"lastRowClass": "last-row"}'>
	<div class="teaser" data-js-atom="equal-child"></div>
	<div class="teaser" data-js-atom="equal-child"></div>
	<div class="teaser" data-js-atom="equal-child"></div>
</div>